.formCotainer {
  padding: 60px;
  background: rgb(204,21,101);
  background: radial-gradient(circle, rgba(204,21,101,1) 0%, rgba(2,3,28,1) 100%);
  > h1 {
    color: aliceblue;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(255, 249, 68);
    filter: drop-shadow(10px 15px 5px rgb(0, 0, 0));
  }
}

.form {
  display: flex;
  justify-content: space-between;
}

.formImg {
  height: 50vh;
  width: 50vh;
  margin-top: 70px;
  filter: drop-shadow(20px 20px 5px rgba(0, 0, 0, 0.471));
  transform: rotate(-15deg);
  animation: moveUpDown 4s infinite ease-in-out alternate;
  > img {
    height: 40vh;
    width: 40vh;
  }
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0); // Initial position
    }
    100% {
      transform: translateY(20px); // Adjust the distance the image should move up and down
    }
  }

.form1 {
  width: 50%;
  margin-top: 40px;
}

.add {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  padding: 90px;
}

.cntA > h2 {
  font-size: 1.8rem;
  color: rgb(255, 249, 68);
  margin: 10px;
  font-weight: 500;
}

.cntN > h2 {
  font-size: 1.8rem;
  color: rgb(255, 249, 68);
  margin: 10px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .form {
    display: grid;
    overflow-x: hidden;
  }

  .add {
    display: grid;
    margin-left: -50px;
  }

  .formImg {
    height: 50vh;
    width: 50vh;
    margin-top: -610px;
    margin-left: 50px;
    filter: drop-shadow(20px 20px 5px rgba(0, 0, 0, 0.471));
    > img {
      height: 20vh;
      width: 22vh;
    }
  }

  .form1 {
    width: 57%;
    margin-top: 200px;
  }

  .formCotainer {
  >h1{
    text-align: center;
    font-size: 25px;
   margin-bottom: 40px;
  }
}


.cntA > h2 {
    margin: 0px;
    text-align: center;
  }
  
  .cntN > h2 {
    margin: 0px;
    margin-top: 30px;
    text-align: center;
  }

  .cntA >p{
    margin: 0px;
    font-size: 1rem;
  }

  .cntN >p{
    margin: 0px;
    font-size: 1rem;
  }

.formCotainer{
    overflow-y: hidden;
    max-width: 100%;
}

}
