nav{
  height: 10vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.logo>img{
  height: 150px;
  width: auto;
  margin: -40px 0px 0px 0px;
}

.menu>button{
 font-size: 2.5rem;
 margin-right: 10px;
 margin-top: 20px;
  color: aliceblue;
  background-color: transparent;
  border: none;
}


@media only screen and (max-width: 767px) {
  nav{
    height: 8vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
  }
  .logo>img{
    height: 110px;
    width: auto;
    margin: -25px 0px 0px 0px;
  }
  
  .menu>button{
   font-size: 2rem;
   margin-right: 10px;
   margin-top: 10px;
    color: aliceblue;
    background-color: transparent;
    border: none;
  }
}