@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.landing-page {
  height: 100vh;
  background: rgb(5,14,48);
  background: radial-gradient(circle, rgb(45, 2, 48) 0%, rgba(0,0,0,1) 100%);
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);

  @media (max-width: 767px) {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}

.landing-page .content .info {
  text-align: center;
  margin-bottom: 15px;

  @media (max-width: 767px) {
    text-align: center;
    margin-bottom: 15px;
  }
}

.landing-page .content .info h1 {
  color: #ffdc19;
  font-size: 44px;
  font-family: "Signika Negative", sans-serif;
  -webkit-text-stroke: 1px #353030;

  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #ffffff;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  font-weight: 700;
  cursor: pointer;
  color: #fbfbfb;
  background: rgb(132, 16, 147);
  background: radial-gradient(
    circle,
    rgba(132, 16, 147, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  & + button {
    margin-left: 10px; // Add margin between buttons
  }
}

.landing-page .content .image img {
  max-width: 100%;
  height: 40vw;
}

$font-stack: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-size: 14px;
$primary-color: #000;

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: $font-stack;
  font-size: $font-size;
  color: $primary-color;
  margin: 0;
  padding: 0;

  // Media Query
  @media (max-width: 767px) {
    background: #fff;
    margin: 0;
    padding: 0;
  }
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 320px;

  // Media Query
  @media (max-width: 767px) {
    width: 140px;
    height: 220px;
    margin-top: 50px;
    padding-bottom: 20px;
  }
}

img {
  width: 240px;
  height: 320px;

  // Media Query
  @media (max-width: 767px) {
    width: 140px;
    height: 220px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 767px) {
  .info {
    margin-top: 40px;
  }
  .sbg{
    color: #eee;
    margin: -30px 0px 0px 160px;
    font-size: 1.5rem;
    
  }
}
