.containerImg {
  height: 100vh;
  width: 100%;
  padding: 20px;
  background: rgb(46, 42, 42);
  background: radial-gradient(
    circle,
    rgba(46, 42, 42, 1) 0%,
    rgba(143, 20, 141, 1) 0%,
    rgba(46, 42, 42, 1) 100%
  );
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ecff18;
  border-radius: 20px;
  padding: 10px;
  height: 30vh;
  width: 30vh;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.product img {
  max-width: 100%;
  height: 30vh;
  transition: transform 0.3s;
}

.product:hover img {
  transform: scale(1.1);
}

.product-description {
  text-align: center;
  position: absolute;
  bottom: -100%;
  left: -50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  transition: bottom 0.3s;
}

.product:hover .product-description {
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .product {
    height: 15vh;
    width: 15vh;
  }
}
